<form action="/products/create" method="POST">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="text" name="description" placeholder="Description"><br>
    <input type="number" name="price" placeholder="Price"><br>
    <input type="number" name="stock" placeholder="Stock"><br>
    <button onclick="summit">Create</button>
</form>